.table-container {
  width: 90%;
  max-width: 600px;
  margin: 30px auto;
  font-family: 'Segoe UI', sans-serif;
}

.availability-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 12px;
}

th,
td {
  text-align: center;
  padding: 30px;
  border-radius: 12px;
  margin: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  
}

/* Header colors */
th.blue {
  background-color: #5bc0eb;
  color: white;
}

th.dark {
  background-color: #19357B;
  color: white;
}

/* Cell colors */
.cell.blue {
  background-color: #5bc0eb;
  color: white;
  
}

.cell.gray {
  background-color: #E1E4E6;
  color: #2A9FCF;
}

.cell.dark-text {
  color: #192C5E;
}

/* Responsive styles */
.table-container {
  width: 100%;
  overflow-x: auto;
}

.availability-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 12px 12px;
}

.availability-table th,
.availability-table td {
  padding: 8px 12px;
  text-align: center;
  font-size: 14px;
}

.blue {
  background-color: #4fc3f7;
  color: white;
  margin-bottom: 100px;
}

.dark {
  background-color: #1e88e5;
  color: white;
  margin-bottom: 100px;
}

.dark-text {
  color: #333;
}

.cell {
  border: 1px solid #ccc;
}

@media (max-width: 600px) {
  .availability-table th,
  .availability-table td {
    font-size: 12px;
    padding: 6px 8px;
  }

  .availability-table {
    min-width: 100%;
  }
}

