.Topic {
  text-align: center;
  font-weight: bold;
  color: #004b8d;
  margin-top: 20px;
  margin-bottom: 20px;
}
.deployment-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}